/* -- CSS SYNTAX GROUPING --
1. Position: position, top, bottom, etc.;
2. Box Model: display, clear, float, height, width, margin, padding, etc.;
3. Typographic: font-size, font-family, line-height, color, etc.;
4. Visual: border, border-radius, box-shadow, background, opacity, etc.;
-- */

/* -- DEFAULT/RESET -- */
body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif;
	font-size: 13px;
}

div {
	display: table;
	margin: auto;
}

footer > ul li {
	display: inline-block;
	padding: 0 8px 0px 8px;
}


/* -- NAV -- */
.right-nav {
	float: right;
	padding-right: 20px;
}
.sign-in {
	padding: 5px 10px;
	color: #fff;
	font-weight: bold;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: -moz-linear-gradient(top,#4387fd,#4683ea);
	background: -o-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	border: 1px solid #4285f4;
	border-radius: 2px;
}
.sign-in:hover {
	padding: 5px 10px;
	color: #fff;
	font-weight: bold;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	background: -moz-linear-gradient(top,#4387fd,#4683ea);
	background: -o-linear-gradient(top,#4387fd,#4683ea);
	background: linear-gradient(top,#4387fd,#4683ea);
	border: 1px solid #4285f4;
	border-radius: 2px;
	box-shadow: 0px 0.5px 0px #888888;
}
.boxes {
	position: relative;
	top: 5px;
}
td {
	height: 2px;
	width: 2px;
	background-color: #222;
	opacity: .55;
}


/* -- LOGO -- */
.google-logo {
	padding-top: 145px;
}


/* -- SEARCH BAR & BUTTONS --*/
input {
	padding: 10px;
}
.search {
	clear: right;
	text-align: center;
}
#search-bar {
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid silver;
}
.submit {
	margin-left: 2px;
	margin-right: 2px;
	padding: 0 16px;
	height: 36px;
	color: #757575;
	font-weight: bold;
	line-height: 27px;
	text-align: center;
	background: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
}
.submit:hover {
	color: #000;
	border: 1px solid #e4e4e4;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}


/* -- FOOTER -- */
footer {
	position: absolute;
	bottom: 0;
	height: auto;
	width: 100%;
	color: #666;
	background-color: #f2f2f2;
	border-top: 1px solid #c6c6c6;
}
.footer-left {
	padding-left: 20px;
	float: left;
}
.footer-right {
	padding-right: 20px;
	float: right;
}
